Card {
  width: 50%;
  margin: 500px 0;
}

CardGroup {
  margin: 500px 0;
}

.abuPhoto {
  height: 350px;
  width: 100px; 
  border-radius: 0%;
}

/* .abuCard {
  height: 550px;
  width: auto px; 
  justify-content: center
} */

