@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@300;400;500&display=swap");

.mainDay {
  border: 1px solid grey;
  margin: 50px auto;
  margin-bottom: 10px;
  border-radius: 10px;
  height: 600px;
  width: 60%;
}

.navBarDay {
  padding: 15px 25px;
  background-color: rgb(103, 184, 204);
  display: block;
  width: 90px;
  color: white;
  border-radius: 70%;
  text-align: center;
  font-size: 20px;
  border: 1px solid rgb(104, 174, 192);
  font-family: "KoHo", sans-serif;
}

hr {
  display: block;
  margin: 0;
  border-style: inset;
  border-width: 3px;
}

.navBarDay:hover {
  background-color: rgb(28, 85, 99);
}
