@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@300;400;500&display=swap");

.mainDay {
  border: 1px solid grey;
  margin: 50px auto;
  margin-bottom: 10px;
  border-radius: 10px;
  height: 600px;
  width: 75%;
  background-color: rgb(217, 234, 235);
}

.ContainerForTodo {
  border: 0.5px solid rgb(201, 198, 198);
  width: 90%;
  margin: 10px 10px;
  height: 350px;
  border-radius: 5%;
}

hr {
  display: block;
  margin: 0;
  border-style: inset;
  border-width: 3px;
}

.CardBody {
  height: 350px;
}
