@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@300;400;500&display=swap");

.mainDay {
  border: 1px solid grey;
  display: block;
  margin: 50px auto;
  margin-bottom: 10px;
  padding-bottom: 30px;
  border-radius: 10px;
  overflow: auto;
  min-height: 500px;
  width: 75%;
  background-color: rgb(217, 234, 235);
}
/* 
.sideButton {
  margin-top: 150px;
  margin-right: 100px;
  display: "inline-block";
} */

.ContainerForTodo {
  border: 0.5px solid rgb(201, 198, 198);
  width: 90%;
  margin: 10px 10px;
  height: 350px;
  border-radius: 5%;
}

hr {
  display: block;
  margin: 0;
  border-style: inset;
  border-width: 3px;
}

.CardBody {
  overflow: auto;
  min-height: 350px;
  border-radius: 5%;
}
