.jjj {

    display: flex;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    flex-direction: column;
    width: 100%;
}
* {
    -webkit-tap-highlight-color: transparent;

}
.Avatar {
    height: 60px;
    width: 60px; 
    border-radius: 20%;
}

.Avatar2{
    height: 75px;
    width: 75px; 
    border-radius: 0%;
}

